{{repository-visibility-icon repository=repository}}

{{#link-to "repo" repository.owner.login repository.name class="profile-repo"}}
  {{name}}
{{/link-to}}

{{#if repository.active_on_org}}
  {{#if migratable}}
    <a href="#" role="button" id="migration-modal" class="profile-settings button"
      {{action "triggerMigrationModal"}}>
      {{svg-jar "icon-migrate" class="icon"}}
      Migrate
    </a>
  {{/if}}
{{else}}
  {{#if admin}}
    {{#link-to "settings" repository.owner.login repository.name
    class="profile-settings button" title="Go to Travis CI repository settings"}}
      {{svg-jar 'icon-settings' class="icon icon-hover"}}
      Settings
    {{/link-to}}
  {{else}}
    <a class="profile-settings disabled button">
      {{svg-jar 'icon-private' class="icon"}}
      Settings
      {{tooltip-on-element text='Requires admin permissions'}}
    </a>
  {{/if}}
{{/if}}

{{#if isShowingRepositoryMigrationModal}}
  {{#modal-dialog
     onClose="toggleRepositoryMigrationModal"
     targetAttachment="center"
     translucentOverlay=true}}
    {{status-images repo=repository onClose=(action 'toggleStatusBadgeModal')}}
  {{/modal-dialog}}
{{/if}}
